html {
    box-sizing: border-box;
  }
  
body {
  background: #7A419B;
  margin: 0;
  padding: 0;
  min-height: 100vh;  
  background: linear-gradient(135deg, #7c1599 0%,#921099 48%,#7e4ae8 100%);
  background-size: cover; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.player {
    width: 750px;
    border: 5px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    position: relative; 
    overflow: hidden;
}

/* This css is only applied when fullscreen is active. */
.player:fullscreen {
   max-width: none;
   width: 100%;
}
  
.player:-webkit-full-screen {
   max-width: none;
   width: 100%;
}

.player__video {
   width: 100%;
}

.player_button{
   background: none;
   border: 0;
   color: white;
   text-align: center;
   line-height: ; 
   outline: 0;
   padding: 0;
   cursor: pointer;
   max-width: 50px;
   outline: 0;
   padding: 0;
}

.player__button:focus {
   border-color: #ffc600;
}

.player__slider {
    width: 10px;
    height: 30px;
  }

.player__controls {
   width: 100%;
   display: flex;
   position: absolute;
   bottom: 0;
   background: rgba(0,0,0,0.1); */
   flex-wrap: wrap; 
   /*  invisible */
   transform: translateY(100%) translateY(-5px);
   transition: all .3s;
}

/*  visible */
.player:hover .player__controls {
    transform: translateY(0);
  }


/* .player__controls > * {
  flex: 1;
} */

.player:hover .progress {
  height: 15px;
}
  

.progress {
  flex: 10;
  margin: 10px;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 200px;
  transition: height 0.3s;
  background: rgba(0,0,0,0.5);
  cursor: ew-resize;
}
  
.progress__filled {
  width: 50%;
  background: #ffc600;
  flex: 0;
  flex-basis: 30%;
}


/* all the CSS for input ranges involves hiding default and putting in new stuff */
  input[type=range] {
    width: 100%;
    margin: 0 5px;
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: transparent;
  }

  input[type=range]:focus {
     outline: none; /*Removes the blue border */
  }  

  /* we hid the default slider above so we can make our own */
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }

  /* Special styling for WebKit/Blink for button drag along track */
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
  }
  
  input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #ffc600;
    cursor: pointer;
  }
  

